#root {
    /* background-image: linear-gradient(135deg, rgb(116, 175, 230) 0%, rgb(48, 82, 157) 100%); */
    background-color: #1d1d1d;
    opacity: 1;
    background-image: radial-gradient(#46332e 1.6px, #1d1d1d 1.6px);
    background-size: 32px 32px;
}